<html>

<head>
    <title>Item Details</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        {%if status %}
        <div class="container mt-5">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              {{status}}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          </div>
          {% endif %}
        
        <div class="row">
            <h2 class="mt-4">Todo In FastApi</h2>
            <div class="col-md-12 mt-4">
                <form action="/" method="post">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" name="title"
                            placeholder="Enter title">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">descrition</label>
                        <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" name="important" class="form-check-input" id="important">
                        <label class="form-check-label" for="exampleCheck1">Important</label>
                      </div>
                    <button class="btn btn-danger" id="btn">Submit</button>
                </form>

            </div>
        </div>

        <div class="row mt-5">
            <h4>ALL Notes</h4>


            {% for note in notes %}
        
       
            <div class="col-md-4 mt-4">
                <div class="card" style="padding: 4px;">
                    <div class="card-body">
                        <p>Note{{loop.index}}</p>
                      <h5 class="card-title">{{ note.title }}</h5>
                      <p class="card-text">{{ note.desc }}</p>
                      <a href="/{{note.id}}" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
            </div>
            {% endfor %} 
        </div>
    </div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script>
        // console.log(object);
        document.getElementById('btn').addEventListener('clicl',()=>{
            console.log(document.getElementById('important').value);
        })
    </script> -->
  
     
</html>